# Example environment

LOG_LEVEL=INFO
PORT=8080
TTL_MINUTES=5
DATABASE_URL="postgres://urlittle:urlittle@localhost:5432/urlittle"
CACHE_SIZE=1000

POSTGRES_DB=urlittle
POSTGRES_USER=urlittle
POSTGRES_PASSWORD=urlittle
